# Ignore Python cache
__pycache__
*.pyc

# Ignore test files
*.pgn
*.epd
*.exe
*.log
*.csv
*.bat

# Ignore files inside the dirs created by setup.py
build/*
dist/*

# Ignore files inside Engines dir
/python_easy_chess_gui/Engines/

# Ignore opening books such as polyglot
*.bin

# Ignore text files, except README.txt
*.txt
!README.md

# Ignore PyCharm
/.idea/

# Ignore venv
/venv/

# Ignore temporary files
pecg_*
